body{
    background-color: rgba(59, 1, 77, 0.671);
    
      }
      img,embed,object,video{max-width:1000px;
      }
    
      nav a, button{
    min-width: 48px;
    min-height: 48px;
    }
    
    @media screen and (max-width: 700px)
    {
    body{
    
      background-color: rgb(182, 2, 17);
    }
    }
    
      body{
        margin: auto;
        width: 50%;
        border: 3px solid #131313;
        padding: 10px;